.App {
  text-align: center;
}

Canvas {
  border: 2px, solid, White;
  background-color: rgb(0, 0, 0);
}

.Screen {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.Main-canvas {
  float: left;
  max-height: 80vh;
  max-width: 70%;
  overflow: hidden;
  margin: 2%;
 
}

.Selectors {
  max-height: 80vh;
  max-width: 30%;
  overflow: hidden;
  margin: 2%;
  vertical-align: top;
  
}

.Tile-selector {
  overflow: hidden;
  margin: 2%;
  display: inline-block;
  vertical-align: top;
}

.Icon-selector {
  overflow: hidden;
  margin: 2%;
  display: inline-block;
  vertical-align: top;
}

.Buttons {
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Journal-box {
  width: 80vw;
  height: 80vh;
}

.tab {
  background-color: antiquewhite;
  height: 50px;
  width: 150px;
  cursor: pointer;
  transition: all 0.5s ease;
  
}

.tab:hover {
    background-color: black;
    color: antiquewhite;
  }

.active-tab {
    background-color: black;
    color: antiquewhite;
    cursor: default;
  }